@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #ffd700;
$background: #f2f2f2;
$border: #f2f2f2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* General */

.grecaptcha-badge {
	bottom: 100px !important;
}

/* Top */

.top {
	position: relative;
	z-index: 10;
	.moduletable_to1 {
		max-height: 70px;
		img {
			padding: 15px 35px;
			background-color: #fff;
		}
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 20px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								color: $secondary_color;
							}
						}
						a {
							padding: 5px 0;
							color: $primary_color;
							letter-spacing: 2px;
							text-transform: uppercase;
							&:hover {
								color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		#a {
			background: {
				image: url(moduletable_to2_menu_li_bg.png);
				position: right;
				repeat: no-repeat;
			}
		}
		#b {}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		h3 {
			font-size: 16px;
			color: #fff;
		}
		.max {
			max-width: 1000px;
			margin: auto;
		}
		#a {}
		#b {
			.b_title {
				margin-bottom: 15px;
				font-size: 12px;
				color: #fff;
			}
			.b_border {
				margin-bottom: 15px;
				padding: 30px 20px;
				border: 1px solid #fff;
				input {
					margin: 0;
					background-color: transparent;
					border: 0;
					border-bottom: 1px solid #fff;
					border-radius: 0;
					box-shadow: none;
					font-size: 12px;
					color: #fff;
					text-transform: uppercase;
					&::placeholder {
						color: #fff;
					}
				}
			}
			.b_button {
				.button {
					width: 100%;
					margin: 0;
					background-color: $secondary_color;
					border-radius: 0;
					color: #000;
					text-transform: uppercase;
				}
			}
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	h1 {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $border;
		font-size: 18px;
		color: $secondary_color;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	a {
		&.button {
			&.hollow {
				border-color: $secondary_color;
				border-radius: 0;
				color: $secondary_color;
			}
		}
	}
	&.boat {
		.menu {
			margin-bottom: 40px;
			li {
				padding: 0 20px;
				background: {
					image: url(moduletable_to2_menu_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				&:last-child {
					background: none;
				}
				&.current-menu-parent,
				&.current-menu-item,
				&.current_page_parent {
					a {
						color: $secondary_color;
					}
				}
				a {
					color: $primary_color;
					letter-spacing: 2px;
					text-transform: uppercase;
					&:hover {
						color: $secondary_color;
					}
				}
			}
		}
		article {
			h2 {
				margin-bottom: 20px;
				font: {
					size: 14px;
					weight: bold;
				}
				a {
					color: $primary_color;
				}
			}
		}
	}
	&.single {
		.b_title {
			margin-bottom: 15px;
			font-size: 12px;
			color: $primary_color;
		}
		.b_border {
			margin-bottom: 15px;
			padding: 30px 20px;
			border: 1px solid $primary_color;
			input {
				margin: 0;
				background-color: transparent;
				border: 0;
				border-bottom: 1px solid $primary_color;
				border-radius: 0;
				box-shadow: none;
				font-size: 12px;
				color: $primary_color;
				text-transform: uppercase;
				&::placeholder {
					color: $primary_color;
				}
			}
		}
		.b_button {
			.button {
				width: 100%;
				margin: 0;
				background-color: $secondary_color;
				border-radius: 0;
				color: #000;
				text-transform: uppercase;
			}
		}
	}
	&.destination {
		article {
			img {
				max-width: 180px;
				border-radius: 50%;
			}
			h2 {
				margin-bottom: 20px;
				font: {
					size: 18px;
					weight: bold;
				}
				letter-spacing: 2px;
				text: {
					align: center;
					transform: uppercase;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
	.nextend-arrow {
		width: 32px !important;
		height: 32px !important;
		img {
			display: none !important;
		}
		&:after {
			font: {
				family: FontAwesome;
				size: 32px;
			}
			color: $secondary_color;
			line-height: 32px;
		}
		&.nextend-arrow-previous {
			&:after {
				content: '\f053';
			}
		}
		&.nextend-arrow-next {
			&:after {
				content: '\f054';
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 40px;
	.moduletable_b11 {
		padding-bottom: 40px;
		border-bottom: 1px solid $border;
		h3 {
			background: {
				image: url(block_1_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 18px;
			letter-spacing: 2px;
		}
		.item {
			overflow: hidden;
			position: relative;
			&:hover {
				.item-overlay {
					top: 0;
				}
			}
			.item-overlay {
				width: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.6);
				overflow: hidden;
				position: absolute;
				-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				top: 100%;
				h4 {
					margin: 15px 0;
					font-size: 24px;
					color: #fff;
					text-align: center;
				}
				p {
					padding: 0 10px;
					font-size: 14px;
					a {
						&.button {
							background-color: transparent;
							border: 1px solid $secondary_color;
							border-radius: 0;
							color: $secondary_color;
						}
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 40px 0;
	background-color: $background;
	.moduletable_b21 {
		h2 {
			width: 50%;
			margin: 0;
			font-size: 14px;
			text-align: center;
			float: left;
			position: relative;
		}
		.tnp-widget {
			width: 50%;
			float: left;
			position: relative;
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 60%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
					background-color: #fff;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $secondary_color;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 40px 0 20px 0;
	.moduletable_bo1 {
		p {
			margin: 0;
			a {
				color: $primary_color;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 40px;
	a {
		color: $primary_color;
	}
}

/* WhatsApp */

.moduletable_wa1 {
	padding: 5px;
	right: 0;
	bottom: 40%;
	background-color: #25d366;
	position: fixed;
	a {
		font-size: 30px;
		color: #fff;
		line-height: 30px;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			max-height: inherit;
			img {
				padding: 10px 0;
			}
		}
		.moduletable_to2 {
			margin: 5px 0 10px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					text-align: center;
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						li {
							width: 100%;
							background: none;
							a {
								padding-top: 15px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		.moduletable_to3 {
			.panel-grid-cell {
				margin: 0 !important;
			}
		}
	}

	/* Content */

	.content {
		h1 {
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		&.boat {
			.menu {
				li {
					padding: 0 10px;
				}
			}
		}
	}

	/* Block 1 */

	.block_1 {
		.moduletable_b11 {
			.item {
				img {
					width: 100%;
				}
			}
		}
	}

	/* Block 2 */

	.block_2 {
		.moduletable_b21 {
			h2 {
				width: 100%;
				margin-bottom: 10px;
				float: none;
			}
			.tnp-widget {
				width: 100%;
				float: none;
				.tnp-field-email {
					width: 60%;
				}
				.tnp-field-button {
					width: 40%;
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}

.fancybox-slide--iframe .fancybox-content {
	max-width: 800px;
}